.status-view {
    top: 10%;
    position: relative;
}

.status-view-text {
    font-size: 20px;
}

.status-social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background: purple; 

    font-size: 25px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}

.status-buttons {
    margin-top:15px;
    text-align: center;
}

