<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="animated flipInX">Status</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content class="has-header">
  
  <div class="friend-status">
    <div class="status-text">दोस्तों के स्टेटस करे डाउनलोड</div>

      <div *ngIf="!androidPermission">
        <span style="margin-left: 5px">*You have to enable permission</span>
        <button ion-button small (click)="requestPermission()" style="margin-top: -5px">Enable</button>
      </div>

      <div *ngIf="!statuses.length && androidPermission">
        <span style="margin-left: 5px">*See status in your whatsapp before downloading</span>
      </div>
            
      <ion-segment *ngIf="allComplete">
        <div *ngFor="let item of statuses" class="scroll-item">
        <div *ngIf="item.isFile">
          <img [src]="item.nativeURL" alt="image" class="status-data" (click)="setMedia(item.nativeURL, item.name, item.extension)" 
          *ngIf="item.extension == 'jpg' || item.extension == 'gif'"/>
          
          
          <div class="video-thumbnail" *ngIf="item.extension == 'mp4'">
            <img src={{item.nativeURLvid}} alt="image" class="status-data" 
            (click)="setMedia(item.nativeURL, item.name, item.extension)"/>
            <ion-icon name="play" class="play-icon" (click)="setMedia(item.nativeURL, item.name, item.extension)"></ion-icon>
             {{item.nativeURLvid}}
          </div>

        </div>
        </div>
      </ion-segment>

  </div>

  <div class="horizontal-line-dark"></div>
  
  <div ion-affix [content]="content" class="language">
    <ion-segment [(ngModel)]="language">
      <ion-segment-button value="hindi">
          हिंदी
      </ion-segment-button>
      <ion-segment-button value="english">
        English
      </ion-segment-button>
      <ion-segment-button value="marathi">
          मराठी
      </ion-segment-button>
      <ion-segment-button value="tamil">
          தமிழ்
      </ion-segment-button>
      <ion-segment-button value="bhojpuri">
          भोजपुरी
      </ion-segment-button>
      <ion-segment-button value="punjabi">
          ਪੰਜਾਬੀ
      </ion-segment-button>
      <ion-segment-button value="rajsthani">
          राजस्थानी
      </ion-segment-button>
      <ion-segment-button value="urdu">
          اردو
      </ion-segment-button>
    </ion-segment>
  </div>


  <ion-content class="status-content">

    <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        refreshingSpinner="circles"
        refreshingText="refreshing" >
      </ion-refresher-content>
    </ion-refresher> -->
      
    <div [ngSwitch]="language" class="status-list">
      <ion-list *ngSwitchCase="'hindi'">
        <ion-card>
          <ion-card-content>
             Romantic
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
             Happy
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
             Sad
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
             Break-up
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
             Sarcasm
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            Ruby
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            Ruby
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            Ruby
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            Ruby
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            Ruby
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            Ruby
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            Ruby
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            Ruby
          </ion-card-content>
        </ion-card>
      </ion-list>

      <ion-list *ngSwitchCase="'english'">
          <ion-item>
            <ion-thumbnail item-start>
              <img src="../assets/imgs/happy.gif">
            </ion-thumbnail>
            <h2>Ruby</h2>
          </ion-item>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/img/thumbnail-puppy-2.jpg">
            </ion-thumbnail>
            <h2>Oscar</h2>
          </ion-item>
        </ion-list>
    </div>
  </ion-content>
  
</ion-content>
