<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="animated flipInX">Status</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content class="has-header">
  
  <div class="friend-status">
    <div class="status-text">दोस्तों के स्टेटस करे डाउनलोड</div>

      <div *ngIf="!androidPermission && statusLoad" style="text-align: center">
        <button ion-button small (click)="requestPermission()">Enable</button>        
        <div>*Please give permission. We do not access/share your data.</div>
      </div>

      <div *ngIf="!statuses.length && androidPermission && statusLoad">
        <span style="margin-left: 5px">*See status in your whatsapp before downloading</span>
      </div>
            
      <ion-segment *ngIf="statuses.length">
        <div *ngFor="let item of statuses" class="scroll-item">
        <div *ngIf="item.isFile">
          <img [src]="item.nativeURL" alt="image" class="status-data" (click)="setMedia(item.nativeURL, item.name, item.extension)" 
          *ngIf="item.extension == 'jpg' || item.extension == 'gif'"/>
          
          
          <div class="video-thumbnail" *ngIf="item.extension == 'mp4'">
            <img [src]="item.nativeURLvideo" alt="image" class="status-data" 
            (click)="setMedia(item.nativeURL, item.name, item.extension)"/>
            <ion-icon name="play" class="play-icon" (click)="setMedia(item.nativeURL, item.name, item.extension)"></ion-icon>
          </div>

        </div>
        </div>
      </ion-segment>

  </div>

  <div class="horizontal-line-dark"></div>

  <div ion-affix [content]="content" class="language">
    <ion-segment (ngModel)="language_id" *ngIf="langs.length && subCats.length">
      <ion-segment-button *ngFor="let l of langs" value="{{l.lang_id}}" (click)="langChanged(l.lang_id)" 
      class="language-name">
          {{l.lang_type}}
      </ion-segment-button>
    </ion-segment>
  </div>


  <ion-content class="status-content">
    <div class="status-list">
      
      <div *ngIf="!subCats.length" class="loader-data">
          <img src="assets/imgs/loader.gif" alt="image" />
      </div>

      <ion-list *ngIf="subCats.length">
        <ion-card *ngFor="let s of subCats" class="animated flipInX" (click)="showStatuses(s.sub_cat_id)">
          <ion-card-content class="sub-category">
             {{s.sub_cat_name}}
          </ion-card-content>
        </ion-card>
      </ion-list>
      
    </div>
  </ion-content>
  
</ion-content>
